[Desktop Entry]
Name=CoreAction
Comment=CoreAction is side bar for showing widgets from CoreApps.
Exec=coreaction
Icon=/usr/share/icons/CoreApps/CoreAction.svg
Type=Application
Categories=Utility;Core;Qt;
Terminal=false
StartupNotify=true
